*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding: 10px;
    
}

main{
    background-color:#808080 ;
    height: 100vh;
    width: 30%;
   
   
}
div{
    width: 8vw;
    height:8vw;
    background-color: #fea500;
    margin-top: 10px;
    margin-left: 10px;
   
}